<% if signed_in? %>
  <h2>Signed in via PassaporteWeb</h2>

  <div>
    <a href="/sign_out" class="btn primary">Sign out</a>
  </div>

  <p>Your access token: <code><%= session[:access_token] %></code> (<a href="/refresh" title="<%= session[:refresh_token] %>">refresh</a>)</p>

  <pre>
<%= JSON.pretty_generate(session[:info]) %>
  </pre>

<% else %>
  <h2>Sign in first to explore PassaporteWeb's API</h2>
  <p><a href="/sign_in" class="btn primary">Sign in with PassaporteWeb »</a></p>
<% end %>
